@import url("");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-top: 10px; */
    /* border: 2px solid red; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

section {
    /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #5f9ea0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: black;
    margin: 0px 10px 0px;
    font-size: 2rem;
}

nav a {
    color: black;
    transition: var(--transition);
    margin: 0px 20px 0px;
    font-size: 1.1rem;
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Navbar ends */

/* Hero section */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* max-width: 68.75rem;    */
}

.hero img {
    height: 26.5rem;
    width: 165%;
    /* margin: auto; */
    margin-left: -170px;
}

.bio {
    width: 60%;
    padding: 0.1rem;
    font-size: 3rem;
    margin-left: 50px;
}

/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(187, 70%, 35%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}


.hlo {
    font-size: 2.2rem;
    font-weight: 600;
}


.purple {
    font-size: 4rem;
    color: chocolate;
    font-weight: 550;
}

/* Hero section ends */

/* More about */
.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 20px;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    /* margin-top: 400px; */
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    margin-top: 100px;

}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* More about ends */

/* Skills section */
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    /* margin-top: 5rem; */
    padding-top: 0.2px;
}

.skill-header {
    margin-top: 200px;
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

/* Skills section ends */

/* Projects section */
.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 100px;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
    margin-top: 2rem;
    padding-top: 100px;
    /* background-color: #ff7235; */
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
    /* background-color: #ff7235; */
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    background-color: cadetblue;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: cadetblue;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #000000;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    color: azure;
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/* Contacts section ends */

/* Social buttons */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1%;
    bottom: 25%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

/* Social button ends */

/* Scroll to top button */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

/* Scroll to top button ends */

/* Footer section */
footer {
    background-color: #000000;
    padding: 7rem;
    text-align: center;
    margin: 2rem 0 0;
}

/* Footer section ends */

/* General (utilities) */
.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #ffffff;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.item1 {
    margin-left: -700px;
    margin-top: -45px;
}

.item2 {
    margin-left: 700px;
    margin-top: -95px;
}

.text2 {
    margin-top: -100px;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: 37.5rem;
        width: 30rem;
        margin: auto;
    }

    .bio {
        margin: auto;
        width: 20.5rem;
        margin-left: 50px;
        text-align: center;
        margin-top: 20px;

    }

    .more-about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2 {
        text-align: center;
    }

    .more-about p {
        text-align: justify;
    }

    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }

    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 20.875rem;
    }

    .contact-form-container {
        max-width: 23.75rem;
    }

    .footer-clean {
        padding: 50px 0;
        background-color: #fff;
        color: #4b4c4d;
    }

    .footer-clean h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-clean ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

    .footer-clean ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-clean ul a:hover {
        opacity: 1;
    }

    .footer-clean .item.social {
        text-align: right;
    }
}

@media screen and (max-width: 420px) {
    .hero img {
        height: 20rem;
        width: 18rem;
        margin-top: 50px;
    }

    .bio {
        width: 18.3rem;
        margin: auto;
        margin-top: 420px;
        font-size: 1.5rem;

    }

    .purple {
        font-size: 2rem;
    }

    .hlo {
        font-size: 1.2rem;
    }

    .project-container {
        width: 17.875rem;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }

    .more-about {
        width: 90%;
        font-size: 1rem;
        margin-top: 250px;
    }

    .more-about p {
        width: 262px;
        margin: auto;
        margin-right: -300px;
        margin-left: -51px;
        font-size: small;
    }

    .skills {
        margin-top: -190px;
    }

    .button-82-pushable {
        margin-top: 40px;
    }

    .item1 {
        margin: auto;
        margin-top: -44px;
    }

    .item2 {
        margin: auto;
        margin-top: 30px;
    }

    .text2 {
        margin: -50px;
        margin-top: 30px;
    }
}